.git
.gitignore
.dockerignore

**/.env
**/.env.*
!docker/.env.production.example

**/__pycache__/
**/*.py[cod]
**/*.log

backend/venv/
backend/staticfiles/
backend/media/
backend/celerybeat-schedule

node_modules/
frontend/node_modules/
frontend/dist/

publish/
rapport/
