APP_MODE=production
SECRET_KEY=change-me
ALLOWED_HOSTS=infolab.epfc.eu,212.166.48.72,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://infolab.epfc.eu:58819,https://infolab.epfc.eu:54919
CORS_ALLOWED_ORIGINS=http://infolab.epfc.eu:58819,https://infolab.epfc.eu:54919
USE_X_FORWARDED_HOST=true

ENABLE_SYNC_ENDPOINTS=false
LIVE_FOOTBALL_API_KEY=change-me

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_WORKER_CONCURRENCY=2

DB_NAME=matchnote
DB_USER=postgres
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432
